fastapi
uvicorn
streamlit
streamlit-autorefresh

requests
python-dotenv
pydantic
pyyaml

pandas
numpy

transformers
peft
trl
datasets
accelerate
bitsandbytes

wandb
huggingface_hub

runpod

evaluate
bert-score
rouge-score
nltk
sacrebleu

sentencepiece
tqdm
