fastapi
uvicorn
streamlit
requests
python-dotenv
pydantic
pyyaml
pandas
numpy
torch
transformers
peft
trl
datasets
accelerate
bitsandbytes
wandb
huggingface_hub
runpod
evaluate
bert-score
rouge-score
nltk
sacrebleu
sentencepiece
tqdm

streamlit-autorefresh
